---
---

{% include head.html %}

<body>

<!-- sticky menu set-up -->
<section id="index-wrapper">
<section id="content">

{% include app-header.html %}


<!-- Hero-section -->

<section class="hero-section" id="hero-block">
      <div class="container container-flex">

         <div class="container-flex hero-content">
            <div class="hero-text">
               <div id="bm"></div>
               <!-- <p class="hero">Telling <br> stories worth listening to.</p> -->
            </div>
         </div>

         <a name="showcase"></a>
         <div id="projects" class="container-flex indicators">
            <div class="indicator-recent-work">
               <p class="h4 bold">recent work</p>
               <img src="resources/images/icon-carrot.svg" alt="carot">
            </div>
         </div>

      </div>
</section>



<!-- Showcase-section -->
   <section class="showcase-section">
      <div class="container-index">
         <div class="container-flex">

            <div class="showcase-left">
               <div class="case-tile">
                  <a href="cases/case-oc.html">
                     <img class="oxy-tile" src="resources/images/oc-tile@2x.png" alt="project image">
                  </a>
                  <a href="cases/case-oc.html">
                     <h2 class="h2 strike-big">Oxycoin</h2>
                  </a>
                  <p class="body">A crypto currency management platform unlike any other.
                  </p>
               </div>
               <div class="case-tile">
                  <a href="experiments/exp.html">
                     <img src="resources/images/ex-tile@2x.png" alt="project image">
                  </a>
                  <a href="experiments/exp.html">
                     <h2 class="h2 strike-big">Experiments</h2>
                  </a>
                  <p class="body">Relics of my personal journey through motion and code.
                  </p>
               </div>
            </div>

            <div class="showcase-right">
               <div class="case-tile">
                  <a href="cases/case-dv.html">
                     <img src="resources/images/dv-tile@2x.png" alt="project image">
                  </a>
                  <a href="cases/case-dv.html">
                     <h2 class="h2 strike-big">De Voorhoede</h2>
                  </a>
                  <p class="body">From blueprint to experience. Positioning the De Voorhoede as a creative technical partner.
                  </p>
               </div>
               <div class="case-tile">
                  <a href="cases/case-ee.html">
                     <img src="resources/images/ee-tile@2x.png" alt="project image">
                  </a>
                  <a href="cases/case-ee.html">
                     <h2 class="h2 strike-big">Elkmont Exchange</h2>
                  </a>
                  <p class="body">Craft beer and food thats proud of its Tennessee roots.
                  </p>
               </div>
            </div>

         </div>
      </div>
   </section>


{% include footer.html %}
{% include page-end.html %}


</section> <!-- end of content wrapper -->
<div id="sticky-track">
   <div class="sticky-contact">
      <a href="contact/contact.html">
         <img src="resources/images/indicator-sticky-contact.svg" alt="contact">
      </a>
   </div>
</div>
</section> <!-- end of index wrapper -->


</body>
</html>
