---
---

{% include head.html %}

<body>

{% include app-header.html %}


<!-- Hero-section-case -->

   <section class="hero-section-case">
         <div class="container">

            <div class="container-flex hero-content">

               <div class="hero-title an-mark-props an-mark-1">
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
                  <h1 class="h1">Sinque</h1>
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
               </div>

               <div class="hero-text an-mark-props an-mark-2">
                  <p class="body-big">
                     Sinque is a company offering an entirely new way to understand and navigate weight loss. Working with Sinque we built a brand around their technology that interwove science with humanity. We then translated this into an app that delivered this functionality in an easy-to-understand way. Lastly we wrapped it up in a succinct landing page that communicated both product and concept to the world.
                  </p>

                  <div class="my-role an-mark-props an-mark-3">
                     <span class="h4 bold">Brand Identity</span>
                     <span class="h4 bold">Art Direction</span>
                     <span class="h4 bold">App Design</span>
                     <span class="h4 bold">Strategy</span>
                  </div>
               </div>

            </div>

         </div>
   </section>




<!-- Intro section -->

   <section class="intro case">
      <div class="container">

         <!-- Hero image and copy -->
         <div class="case-image-shadow hero-img an-mark-props an-mark-4">
            <img src="../resources/images/sin-image-hero@1x.jpg"
                  srcset="../resources/images/sin-image-hero@2x.jpg 2640w,
                         ../resources/images/sin-image-hero@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Sinque homepage"/>
         </div>

         <div class="case-text">
            <h2 class="h2">An identity with a scientific edge</h2>
            <p class="body no-space">The core of the Sinque solution is their proprietary algorithm. This algorithm takes natural fluctuations into account to give an accurate picture of a persons health and their weight-loss trajectory. In developing the identity we took direct inspiration from this ground-breaking technology and the path to success it unlocks for people.
            </p>
         </div>

      </div>
   </section> <!-- end of: Intro section -->



<!-- Brand section -->

   <section class="brand case">

      <!-- Brand block -->
      <div class="container">
         <hr>
         <div class="brand-block">
            <picture>
               <source media="(min-width: 1100px)"
                  srcset="../resources/images/sin-brand-l.svg"/>
               <source media="(min-width: 721px)"
                  srcset="../resources/images/sin-brand-m.svg"/>
               <source media="(max-width: 720px)"
                  srcset="../resources/images/sin-brand-s.svg"/>
               <img src="../resources/images/sin-brand-m.svg" alt="brand explainer"/>
            </picture>
         </div>
         <hr>
      </div>

      <!-- Brand assets -->
      <div class="brand-assets container container-flex sinque">

         <div class="left">
            <div class="asset">
               <h4 class="h4"><strong>headings</strong> &#8212; htf whitney bold</h4>
               <img src="../resources/images/sin-asset-type-bold.svg" alt="typeface bold">
            </div>
            <div class="asset">
               <h4 class="h4"><strong>body</strong> &#8212; htf whitney book</h4>
               <img src="../resources/images/sin-asset-type-book.svg" alt="typeface book">
            </div>
            <div class="asset">
               <h4 class="h4 bold">icons</h4>
               <img src="../resources/images/sin-asset-icons.svg" alt="icons">
            </div>
            <div class="asset">
               <h4 class="h4 bold">colours</h4>
               <img src="../resources/images/sin-asset-colours.svg" alt="brand colours">
            </div>
         </div>

         <div class="right">
            <div class="asset">
               <h4 class="h4 bold">wave device</h4>
               <img src="../resources/images/sin-asset-wave.svg" alt="wave device">
            </div>
            <div class="asset">
               <h4 class="h4 bold">pattern bold</h4>
               <img src="../resources/images/sin-asset-pattern-bold.svg" alt="pattern bold">
            </div>
            <div class="asset">
               <h4 class="h4 bold">pattern tech</h4>
               <img src="../resources/images/sin-asset-pattern-tech.svg" alt="pattern tech">
            </div>
         </div>

      </div>

      <div class="container"> <!-- you should probably fix this josh -->
         <hr>
      </div>

   </section> <!-- end of: Brand section  -->




<!-- Web overview section -->

   <section class="web-overview case">

      <!-- Screen Overview -->
      <div class="container">
         <div class="case-text no-space">
            <h2 class="h2">A fluid visual language</h2>
            <p class="body">The wave creates a dynamic visual language that is simultaneously both scientific and human.
            </p>
         </div>

         <div class="case-image">
            <img src="../resources/images/sin-image-screens-overview@1x.jpg"
                  srcset="../resources/images/sin-image-screens-overview@2x.jpg 2640w,
                         ../resources/images/sin-image-screens-overview@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Sinque screens overview"/>
         </div>
      </div>


      <!-- Trainers vs users -->

      <div class="container">
         <div class="container-flex comp-6040">

            <div class="text-6040">
               <h2 class="h2">Trainers vs Users</h2>
               <p class="body">For Sinque we had two key audiences we needed to address; end-users and trainers. This audience required a warmer more supportive approach. To channel this we used yellow as our dominant colour with blue as an accent. Our second audience needed an environment that felt more technical and perfomance orientated. To facillitate this we skewed the UI toward blue using the yellow as an accent, and pushed the performance aspect with diagrams and technical patterns.
               </p>
            </div>
            <div class="case-image">
               <img src="../resources/images/sin-image-trainers-vs-users@1x.jpg"
                     srcset="../resources/images/sin-image-trainers-vs-users@2x.jpg 1800w,
                            ../resources/images/sin-image-trainers-vs-users@1x.jpg 900w"
                     sizes="(min-width: 900px) 900px, 100vw"
                     alt="Trainers vs Users"/>
            </div>

         </div>
      </div>

      <!-- Explaining screens -->
      <div class="container">
         <div class="case-text">
            <h2 class="h2">Explaining the concept and journey</h2>
            <p class="body">One of the most significant challenges of this project was the originality of the concept. We needed to explain both the problem with current methods, our solution, and the advantages users could expect from using it.
            </p>
         </div>

         <div class="case-image">
            <img src="../resources/images/sin-image-con-explain@1x.jpg"
                  srcset="../resources/images/sin-image-con-explain@2x.jpg 2640w,
                         ../resources/images/sin-image-con-explain@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Explaining the product"/>
         </div>
      </div>


      <!-- A solid foundation -->
      <div class="container">
         <div class="case-text">
            <h2 class="h2">A solid foundation</h2>
            <p class="body">Before we picked up our pencils for sinque we built up a thorough understanding of who sinque were and how they wanted to communicate to the world. We achieved this understanding through a Brand Sprint followed by a Visual Identity Territory workshop.
            </p>
         </div>
      </div>

      <div class="cover">
         <picture>
            <source media="(min-width: 1300px)"
               srcset="../resources/images/sin-image-brand-essentials-wide@2x.jpg"/>
            <source media="(min-width: 851px)"
               srcset="../resources/images/sin-image-brand-essentials@2x.jpg"/>
            <source media="(max-width: 850px)"
               srcset="../resources/images/sin-image-brand-essentials@1x.jpg"/>
            <img src="../resources/images/sin-image-brand-essentials@1x.jpg" alt="design system"/>
         </picture>
      </div>

   </section> <!-- end of: web overview section -->




<!-- App overview section -->

   <section class="app-overview case">
      <div class="spacer"></div>

      <!-- Getting people on the scale … -->
         <!-- region small text -->
      <div class="case-text region-s container">
         <h2 class="h2">Getting people on the scale</h2>
         <p class="body">The challenge was to work with a double focus. We needed to get people on the scale often enough that we could show them progress towards their goal. We came up with a navigational concept that made it effortless to shift focus between these two interwoven functions and communicate to the user how one directly affected the other.
         </p>
      </div>
      <div class="color-block-comp sinque">
         <div class="color-block sinque"></div>

            <div class="comp-content container-flex sinque">
               <video muted loop autoplay class="video-fill">
                  <source src="../resources/video/sin-video-progress-flow.mp4" type="video/mp4">
               </video>
               <div class="comp-text region-ml">
                  <h2 class="h2">Getting people on the scale</h2>
                  <p class="body">The challenge was to work with a double focus. We needed to get people on the scale often enough that we could show them progress towards their goal. We came up with a navigational concept that made it effortless to shift focus between these two interwoven functions and communicate to the user how one directly affected the other.
                  </p>
               </div>
            </div>

      </div>


      <!-- Checking progress without numbers 60:40 -->

      <div class="container">
         <div class="container-flex comp-6040">

            <div class="text-6040">
               <h2 class="h2">Checking progress without numbers</h2>
               <p class="body">At Sinque they believe weight is not a number. In fact numbers can be extremely discouraging. Therefore it was crucial that we communicate how people are doing without this confrontation. Enter the Sun-meter. The Sun-meter shows you how bright your outlook is based on your rate of progress. The future is bright.
               </p>
            </div>
            <div class="image-6040">
               <img src="../resources/images/sin-image-app-progress@1x.jpg"
                     srcset="../resources/images/sin-image-app-progress@2x.jpg 1460w,
                            ../resources/images/sin-image-app-progress@1x.jpg 730w"
                     sizes="(min-width: 730px) 730px, 100vw"
                     alt="Sun-meter; weight loss progress"/>
            </div>

         </div>
      </div>


      <!-- Made to motivate -->
         <!-- region small text -->
      <div class="case-text region-s container">
         <h2 class="h2">Made to motivate;<br>predicting future weight range</h2>
         <p class="body">Based on the data gathered from the scale Sinque generates personalised weight trends. Effectively predicting what the users weight range will be in two weeks time. With a clear view of the journey ahead, the user can take actions to ensure a positive outcome. Sinque puts the user back in control!
         </p>
      </div>

      <div class="color-block-comp sinque2">
         <div class="color-block sinque2"></div>

               <div class="comp-content container-flex sinque2">
                  <video muted loop autoplay class="video-fill">
                     <source src="../resources/video/sin-video-weight-trends.mp4" type="video/mp4">
                  </video>
                  <div class="comp-text region-ml sinque2">
                     <h2 class="h2">Made to motivate;<br>predicting future weight range</h2>
                     <p class="body">Based on the data gathered from the scale Sinque generates personalised weight trends. Effectively predicting what the users weight range will be in two weeks time. With a clear view of the journey ahead, the user can take actions to ensure a positive outcome. Sinque puts the user back in control!
                     </p>
                  </div>
               </div>

      </div>


      <!-- Integrating offers -->
      <div class="container">
         <div class="case-text">
            <h2 class="h2">Integrating offers</h2>
            <p class="body">The the sun-meter and personalised weight trends directly feed into the Sinque business model (meter &#62; prediction &#62; offers). If you need help changing your future, a currated selection of local offers is at your finger tips.
            </p>
         </div>
      </div>

      <div class="cover">
         <picture>
            <source media="(min-width: 1300px)"
               srcset="../resources/images/sin-image-app-offers-wide@2x.jpg"/>
            <source media="(min-width: 851px)"
               srcset="../resources/images/sin-image-app-offers@2x.jpg"/>
            <source media="(max-width: 850px)"
               srcset="../resources/images/sin-image-app-offers@1x.jpg"/>
            <img src="../resources/images/sin-image-app-offers@1x.jpg" alt="design system"/>
         </picture>
      </div>

   </section> <!-- end of: App overview section -->




<!-- Call to action block -->
   <div class="container">
      <div class="cta-block">
         <h3 class="h3 centered">Like what you see?</h3>
         <a href="../contact/index.html">
         <span class="button-primary h4 bold">get in touch</span>
         </a>

         <div class="next-project-comp container-flex">
            <div>
               <span class="body arrow-left"><a href="../index.html#work">&#60;&#8194;Return to work</a></span>
               <span class="body">&#8195;&#124;&#8195;</span>
               <span class="body semi-bold arrow-right"><a href="../de-voorhoede/index.html">Show me more&#8194;&#62;</a></span>
            </div>
         </div>

      </div>
   </div>

{% include footer.html %}
{% include page-end.html %}


</body>
</html>
