---
---

{% include head.html %}

<body>


{% include app-header.html %}


<!-- Hero-section-case -->

   <section class="hero-section-case">
         <div class="container">

            <div class="container-flex hero-content">

               <div class="hero-title offset-an-props offsetAn1">
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
                  <h1 class="h1">Sinque</h1>
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
               </div>

               <div class="hero-text offset-an-props offsetAn2">
                  <p class="body-big">
                     The challenge: Build a brand around a completely new concept for the weight-loss market. Design an app that delivers this functionality in simple easy-to-understand way without endangering the clients business model. Lastly communicate both product and concept to the world in a succinct landing page that convinces people to try the sinque solution.
                  </p>

                  <div class="my-role offset-an-props offsetAn3">
                     <span class="h4 bold">Brand Identity</span>
                     <span class="h4 bold">Art Direction</span>
                     <span class="h4 bold">App Design</span>
                  </div>
               </div>

            </div>

         </div>
   </section>

   <!-- Sinque-case -->

      <section class="case">
         <div class="container">

            <!-- Hero image and copy -->
            <div class="case-image-shadow hero-img offset-an-props offsetAn4">
               <img src="../resources/images/sin-image-hero@1x.jpg"
                     srcset="../resources/images/sin-image-hero@2x.jpg 2640w,
                            ../resources/images/sin-image-hero@1x.jpg 1320w"
                     sizes="(min-width: 1320px) 1320px, 100vw"
                     alt="Sinque homepage"/>
            </div>

            <div class="case-text">
               <h2 class="h2">An identity with a scientific edge</h2>
               <p class="body no-space">The core of the Sinque solution is their proprietary algorithm. This algorithm takes natural fluctuations into account to give an accurate picture of a persons health and their weight-loss trajectory. In developing the identity we took direct inspiration from this ground-breaking technology and the path to success it unlocks.
               </p>
            </div>
            <hr>

         </div>

      <!-- Brand assets -->

      <div class="case-image">
         <picture>
            <source media="(min-width: 1100px)"
               srcset="../resources/images/sin-brand-l.svg"/>
            <source media="(min-width: 721px)"
               srcset="../resources/images/dv-image-blueprint_m.svg"/>
            <source media="(max-width: 720px)"
               srcset="../resources/images/dv-image-blueprint_s.svg"/>
            <img src="../resources/images/dv-image-blueprint_m.svg" alt="brand explainer"/>
         </picture>
      </div>

      <div class="brand-assets container container-flex">

         <div class="left">
            <div class="asset oxy-logo">
               <h4 class="h4 bold">mark</h4>
               <img src="../resources/images/oxy-asset-logo.svg" alt="Oxycoin logo">
            </div>
            <div class="asset explainer">
               <h4 class="h4 bold">concept</h4>
               <img src="../resources/images/oxy-asset-concept.svg" alt="logo explainer">
            </div>
            <div class="asset messaging">
               <h4 class="h4 bold">messaging</h4>
               <img src="../resources/images/oxy-asset-message.svg" alt="messaging">
            </div>
            <div class="asset icons">
               <h4 class="h4 bold">icons</h4>
               <img src="../resources/images/oxy-asset-icons.svg" alt="icons">
            </div>
         </div>

         <div class="right">
            <div class="asset type-light">
               <h4 class="h4"><strong>headings</strong> — gt walsheim light</h4>
               <img src="../resources/images/oxy-asset-type-light.svg" alt="typeface light">
            </div>
            <div class="asset type-bold">
               <h4 class="h4"><strong>emphasis</strong> — gt walsheim medium</h4>
               <img src="../resources/images/oxy-asset-type-bold.svg" alt="typeface bold">
            </div>
            <div class="asset type-body">
               <h4 class="h4"><strong>body</strong> — gt walsheim light</h4>
               <img src="../resources/images/oxy-asset-type-body.svg" alt="typeface body">
            </div>
            <div class="asset colours">
               <h4 class="h4 bold">brand colours</h4>
               <img src="../resources/images/oxy-asset-colours.svg" alt="brand colours">
            </div>

         </div>
      </div>
      <hr>

{% include footer.html %}
{% include page-end.html %}


</body>
</html>
