---
---

{% include head.html %}

<body>

{% include app-header.html %}


<!-- Hero-section-case -->

   <section class="hero-section-case">
         <div class="container">

            <div class="container-flex hero-content">

               <div class="hero-title offset-an-props offsetAn1">
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
                  <h1 class="h1">Sinque</h1>
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
               </div>

               <div class="hero-text offset-an-props offsetAn2">
                  <p class="body-big">
                     The challenge: Build a brand around a completely new concept for the weight-loss market. Design an app that delivers this functionality in simple easy-to-understand way without endangering the clients business model. Lastly communicate both product and concept to the world in a succinct landing page that convinces people to try the sinque solution.
                  </p>

                  <div class="my-role offset-an-props offsetAn3">
                     <span class="h4 bold">Brand Identity</span>
                     <span class="h4 bold">Art Direction</span>
                     <span class="h4 bold">App Design</span>
                     <span class="h4 bold">Strategy</span>
                  </div>
               </div>

            </div>

         </div>
   </section>




   <!-- Intro section -->

   <section class="intro case">
      <div class="container">
         <!-- Hero image and copy -->
         <div class="case-image-shadow hero-img offset-an-props offsetAn4">
            <img src="../resources/images/sin-image-hero@1x.jpg"
                  srcset="../resources/images/sin-image-hero@2x.jpg 2640w,
                         ../resources/images/sin-image-hero@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Sinque homepage"/>
         </div>

         <div class="case-text">
            <h2 class="h2">An identity with a scientific edge</h2>
            <p class="body no-space">The core of the Sinque solution is their proprietary algorithm. This algorithm takes natural fluctuations into account to give an accurate picture of a persons health and their weight-loss trajectory. In developing the identity we took direct inspiration from this ground-breaking technology and the path to success it unlocks.
            </p>
         </div>
      </div>
   </section> <!-- end of: Intro section -->



   <!-- Brand section -->

   <section class="brand case">

      <!-- Brand block -->
      <div class="container">
         <hr>
         <div class="brand-block">
            <picture>
               <source media="(min-width: 1100px)"
                  srcset="../resources/images/sin-brand-l.svg"/>
               <source media="(min-width: 721px)"
                  srcset="../resources/images/sin-brand-m.svg"/>
               <source media="(max-width: 720px)"
                  srcset="../resources/images/sin-brand-s.svg"/>
               <img src="../resources/images/sin-brand-m.svg" alt="brand explainer"/>
            </picture>
         </div>
         <hr>
      </div>

      <!-- Brand assets -->
      <div class="brand-assets container container-flex">

         <div class="left">
            <div class="asset">
               <h4 class="h4"><strong>headings</strong> &#8212; htf whitney bold</h4>
               <img src="../resources/images/sin-asset-type-bold.svg" alt="typeface bold">
            </div>
            <div class="asset">
               <h4 class="h4"><strong>body</strong> &#8212; htf whitney book</h4>
               <img src="../resources/images/sin-asset-type-book.svg" alt="typeface book">
            </div>
            <div class="asset">
               <h4 class="h4"><strong>body</strong> &#8212; htf whitney book</h4>
               <img src="../resources/images/sin-asset-type-body.svg" alt="typeface body">
            </div>
            <div class="asset">
               <h4 class="h4 bold">icons</h4>
               <img src="../resources/images/sin-asset-icons.svg" alt="icons">
            </div>
            <div class="asset">
               <h4 class="h4 bold">colours</h4>
               <img src="../resources/images/sin-asset-colours.svg" alt="brand colours">
            </div>
         </div>

         <div class="right">
            <div class="asset">
               <h4 class="h4 bold">wave device</h4>
               <img src="../resources/images/sin-asset-wave.svg" alt="wave device">
            </div>
            <div class="asset">
               <h4 class="h4 bold">pattern bold</h4>
               <img src="../resources/images/sin-asset-pattern-bold.svg" alt="pattern bold">
            </div>
            <div class="asset">
               <h4 class="h4 bold">pattern tech</h4>
               <img src="../resources/images/sin-asset-pattern-tech.svg" alt="pattern tech">
            </div>
         </div>

      </div>

      <div class="container"> <!-- you should probably fix this josh -->
         <hr>
      </div>

   </section> <!-- end of: Brand section  -->




   <!-- Web overview section -->

   <section class="web-overview case">

      <!-- Screen Overview -->
      <div class="container">
         <div class="case-text no-space">
            <h2 class="h2">Aesthetic overview (temp)</h2>
            <p class="body"> The De Voorhoede are developers who speak your language &#8212; it was important that this conversational tone come across in the website experience. To ensure this I designed a new call-to-action and form components which followed a conversational structure. This also had the added benefit of gathering essential information efficiently.
            </p>
         </div>

         <div class="case-image">
            <img src="../resources/images/sin-image-screens-overview@1x.jpg"
                  srcset="../resources/images/sin-image-screens-overview@2x.jpg 2640w,
                         ../resources/images/sin-image-screens-overview@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Sinque screens overview"/>
         </div>
      </div>

      <!-- Trainers vs users -->
      <div class="container">
         <div class="case-text no-space">
            <h2 class="h2">Trainers vs Users</h2>
            <p class="body">For Sinque we had two key audiences we needed to address; end-users and trainers. The first audience required a warmer more supportive approach. To channel this we used yellow as our dominant colour with blue as an accent. Our second audience needed a more technical, perfomance orientated approach. To facillitate this we skewed the UI toward blue using the yellow as an accent, and made use of technical patterns.
            </p>
         </div>

         <div class="case-image">
            <img src="../resources/images/sin-image-trainers-vs-users@1x.jpg"
                  srcset="../resources/images/sin-image-trainers-vs-users@2x.jpg 2640w,
                         ../resources/images/sin-image-trainers-vs-users@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Trainers vs Users"/>
         </div>
      </div>


      <!-- A solid foundation -->
      <div class="container">
         <div class="case-text">
            <h2 class="h2">A solid foundation</h2>
            <p class="body">Before we picked up our pencils for sinque we built up a thorough understanding of who sinque were and how they wanted to communcate to the world. We achieve this understanding through our Brand Sprint and Visual Identity Sprint workshops.
            </p>
         </div>
      </div>

      <div class="cover">
         <picture>
            <source media="(min-width: 1300px)"
               srcset="../resources/images/sin-image-brand-essentials-wide@2x.jpg"/>
            <source media="(min-width: 851px)"
               srcset="../resources/images/sin-image-brand-essentials@2x.jpg"/>
            <source media="(max-width: 850px)"
               srcset="../resources/images/sin-image-brand-essentials@1x.jpg"/>
            <img src="../resources/images/sin-image-brand-essentials@1x.jpg" alt="design system"/>
         </picture>
      </div>

   </section> <!-- end of: web overview section -->




   <!-- App overview section -->

   <section class="app-overview case">

      <!-- Getting people on the scale … -->
      <div class="color-block-comp">
         <div class="color-block sinque"></div>

               <div class="comp-content container-flex sinque">
                  <video muted loop autoplay class="video-fill">
                     <source src="../resources/video/sin-video-progress-flow.mp4" type="video/mp4">
                  </video>
                  <div class="comp-text region-ml no-space">
                     <h2 class="h2">Getting people on the scale</h2>
                     <p class="body">The challenge was to work with a double focus. We needed to get people on the scale often enough that we could show them progress towards their goal. We came up with a navigational concept that made it effortless to shift focus between these two interwoven functions and communicate to the user how one directly effected the other.
                     </p>
                  </div>
               </div>

      </div>


   </section> <!-- end of: App overview section -->




   <!-- Call to action block -->
   <div class="container">

      <div class="cta-block">
         <h3 class="h3 centered">Like what you see?</h3>
         <a href="../contact/index.html">
         <span class="button-primary h4 bold">get in touch</span>
         </a>
      </div>

   </div>

{% include footer.html %}
{% include page-end.html %}


</body>
</html>
