<!-- App-header -->

   <nav>
      <div class="container-flex container-index">
         <div class="logo">
            <a href="index.html"> <!-- link back to home -->
            <img src="resources/images/logo-jn.svg" alt="logo">
            </a>
         </div>
         <ul class="container-flex nav">
            <li class="link-collapsible strike"><a href="index.html#showcase">Cases</a></li>
            <li class="link-collapsible strike"><a href="experiments/exp.html">Experiments</a></li>
            <li class="link-collapsible strike"><a href="contact/contact.html">Contact</a></li>
         </ul>
         <!-- small sticky header -->
         <div id="icon-contact">
            <div id="stick-icon-cont">
               <span class="strike"><a href="contact/contact.html">Contact</a></span>
               <a href="contact/contact.html">
                  <img src="resources/images/icon-contact.svg" alt="contact">
               </a>
            </div>
         </div>
      </div>
   </nav>
