<!-- Footer -->

<footer>
   <div class="container">
      <div class="container-flex wrapper">

         <div class="logo-region-m-l">
            <a href="#"><img src="../resources/images/logo-jn.svg" alt="logo"></a>
         </div>

         <div class="footer-content container-flex">
            <div class="footer-left">
               <h4 class="h4 bold">Contact</h4>
               <ul class="body-petit">
                  <li><a class="strike-small" href="mailto:josh.noon1@gmail.com">josh.noon1@gmail.com</a></li>
                  <li><a class="strike-small" href="tel:+31658902162">0658 902 162</a></li>
               </ul>
            </div>
            <div class="footer-right">
               <h4 class="h4 bold">Cases</h4>
               <ul class="body-petit">
                  <li><a class="strike-small" href="../cases/case-oc.html">Oxycoin</a></li>
                  <li><a class="strike-small" href="../cases/case-dv.html">De Voorhoede</a></li>
                  <li><a class="strike-small" href="../cases/case-ee.html">Elkmont Exchange</a></li>
               </ul>
            </div>
         </div>

            <!-- Container for social icons -->
         <div class="container-flex icon-container">
            <div class="logo-region-small">
               <a href="#"><img src="../resources/images/logo-jn.svg" alt="logo"></a>
            </div>
            <div class="social-icons container-flex">
               <a href="https://dribbble.com/JoshNoon" target="_blank"><img src="../resources/images/icon-social-dr.svg" alt="dribble"></a>
               <a href="https://www.behance.net/joshuanoondesign" target="_blank"><img src="../resources/images/icon-social-be.svg" alt="behance"></a>
               <a href="https://www.linkedin.com/in/joshua-noon/" target="_blank"><img src="../resources/images/icon-social-in.svg" alt="linked-in"></a>
               <a href="https://twitter.com/Josh_noon" target="_blank"><img src="../resources/images/icon-social-tw.svg" alt="twitter"></a>
            </div>
         </div>

      </div>
   </div>
</footer>
