   /* first block colours */
.color-block.sinque {
   background-color: #0C0755;
}

.comp-content.sinque .comp-text {
   color: var(--color-white);
}

   /* second block colours */
.color-block.sinque2 {
   background-color: #FFDA00;
}

.comp-content .comp-text.sinque2 {
   color: var(--color-black);
}

.comp-content video {
   height: 600px;
}

.comp-text.region-ml {
   display: none;
}


.color-block-comp.sinque {
   margin-top: var(--space-medium);
   margin-bottom: 0;
}


/* custom breakpoint medium + a bit */
@media (min-width: 900px) {
   .comp-content video {
      height: 700px;
   }

   .comp-content .comp-text.region-ml {
      display: initial;
      margin-top: 17rem;
      padding-left: var(--space-small);
      padding-right: var(--space-medium);
   }

   .comp-content {
      max-width: 1100px; /*prevents text running too long — the resulting comp is centered*/
   }

   .color-block-comp.sinque {
      margin-top: var(--space-large);
      margin-bottom: 0;
   }
}

/* region large */
@media (min-width: 1100px) {
   .comp-content video {
      height: 872px;
   }

   .comp-content .comp-text.region-ml {
      margin-top: 21rem;
      padding-left: var(--space-larger);
      padding-right: 0;
   }

   .color-block-comp.sinque {
      margin-top: var(--space-larger);
      margin-bottom: calc(var(--space-medium)*-1); /* allowing for xtra space from off setting weirdly only needs it at larger sizes */
   }
}
