:root {

   /* Colours */
  --color-black: #222222;
  --color-light-grey: #cccccc;
  --color-v-light-grey: #eeeeee;
  --color-dark-grey: #979797;
  --color-blue-sky: #cbe4ff;
  --color-white: #FFF;

  /* Spacing */
  --space-index-l: 19rem; /*304px*/
  --space-index-m: 16.5rem; /*264px*/
  --space-huge: 9rem; /*144px*/
  --space-larger: 7rem; /*112px*/
  --space-large: 4.5rem; /*72px*/
  --space-medium: 3.25rem; /*52px*/
  --space-small: 2rem; /*32px*/
  --space-petit: 1.5rem; /*24px*/
  --space-std: 1rem; /*16px*/
  --space-tiny: 0.75rem; /*12px*/
  --space-micro: 0.5rem; /*8px*/

  /* Shadows */
  --shadow-soft: 0px 11px 50px 0px rgba(0, 0, 0, 0.1);

  /* Column indents */
  --indent-1-col: 3.5rem; /* 56px */
  --indent-2-col: 7rem; /* 112px */
  --indent-3-col: 10.5rem; /* 168px */
}



/* Global structure elements */



/* Interactive elements */

   /* region small */
.button-primary {
   display: block;
   padding: 15px 25px;
   background-color: var(--color-black);
   color: var(--color-white);
   width: 100%;
   text-align: center;
   transition: all 0.3s ease;
}

.button-primary:hover {
   transform: scale(1.03);
}

   /* region medium/large */
@media (min-width: 720px) {
   .button-primary {
      width: 280px;
      margin: 0 auto;
   }
}

/* Strikethrough */
.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:before {
	content: '';
	position: absolute;
	display: block;
	width: 120%;
	height: 8px;
	margin-top: 0.4em;
   margin-left: -10%;
   background-color: var(--color-blue-sky);
   mix-blend-mode: multiply;
	transform-origin: left;
   transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:hover:before {
	transform: scaleX(1);
	transform-origin: left;
}
/* end of: Interactive elements */



/* Flex wrapper */
   /* regions-ALL */
.container-flex {
  display: flex;
}
/* end of: Document flex wrapper */


/* Margins wrapper */

  /* region small */
.container {
  margin: 0 auto;
  padding: 0 1.25rem;
  overflow: hidden;
  max-width: 1440px;
}

  /* region medium */
@media (min-width: 720px) {
  .container {
     padding: 0 2.5rem;
  }
}

/* region large */
@media (min-width: 1100px) {
   .container {
     padding: 0 3.75rem;
   }
}
/* end of: Margins wrapper */



























/* page-holder */
