:root {

   /* Colours */
  --color-black: #222222;
  --color-light-grey: #cccccc;
  --color-v-light-grey: #eeeeee;
  --color-dark-grey: #979797;
  --color-blue-sky: #cbe4ff;
  --color-white: #FFF;

  /* Spacing */
  --space-index-l: 19rem; /*304px*/
  --space-index-m: 16.5rem; /*264px*/
  --space-huge: 9rem; /*144px*/
  --space-larger: 7rem; /*112px*/
  --space-large: 4.5rem; /*72px*/
  --space-medium: 3.25rem; /*52px*/
  --space-small: 2rem; /*32px*/
  --space-petit: 1.5rem; /*24px*/
  --space-std: 1rem; /*16px*/
  --space-tiny: 0.75rem; /*12px*/
  --space-micro: 0.5rem; /*8px*/

  /* Shadows */
  --shadow-soft: 0px 11px 50px 0px rgba(0, 0, 0, 0.1);

  /* Column indents */
  --indent-1-col: 3.5rem; /* 56px */
  --indent-2-col: 7rem; /* 112px */
  --indent-3-col: 10.5rem; /* 168px */
}

/* Global tools */

.shadow {
   box-shadow: var(--shadow-soft);
}
   /* ensures video fills available space */
.video-fill {
   width: 100% !important;
}

   /* specs for full bleed images */
   /* region small */
.cover img {
object-fit: cover;
width: 100%;
max-height: 200px;
/* margin: var(--space-medium) 0 var(--space-small) 0; */
}

/* region medium */
@media (min-width: 720px) {
   .cover img {
   /* margin: var(--space-large) 0 var(--space-medium) 0; */
   max-height: 500px;
   }
}

/* region large */
@media (min-width: 1100px) {
   .cover img {
   /* margin: var(--space-larger) 0 var(--space-large) 0; */
   max-height: 800px;
   }
}


   /* ensures video fills available space */
.video-fill {
   width: 100% !important;
}


.scale-up {
   transform-origin: top;
   transform: scale(1.1) !important;
   overflow: visible !important;
}


   /* specs for full bleed images */
   /* region small */
.cover img {
object-fit: cover;
width: 100%;
max-height: 300px;
/* margin: var(--space-medium) 0 0 0; */
}

/* region medium */
@media (min-width: 720px) {
   .cover img {
   /* margin: var(--space-large) 0 0 0; */
   max-height: 500px;
   }
}

/* region large */
@media (min-width: 1100px) {
   .cover img {
   /* margin: var(--space-larger) 0 0 0; */
   max-height: 800px;
   }
}
/* end of: Global tools */



/* Global structure elements */

/* sticky header all other pages */

#sticky-contact {
   padding-top: 20px;
   transition: 0.5s all ease;
   transform: translateY(-196px);
}

#sticky-contact img {
   height: 11rem;
}

#container-case-stick {
   margin: 0 auto;
   overflow: hidden;
   max-width: 1440px;
   padding: 0 15px;
   margin-bottom: -196px;
   transition: transform 0.75s ease;
}
/* end of: sticky header all other pages */


/* Flex wrapper */
   /* regions-ALL */
.container-flex {
  display: flex;
}

.container-flex-end {
  display: flex;
  justify-content: flex-end;
}
/* end of: Document flex wrapper */


/* Margins wrapper */

   /* region small */
.container {
   margin: 0 auto;
   padding: 0 1.25rem;
   overflow: hidden;
   max-width: 1440px;
   position: relative;
}

/* region medium */
@media (min-width: 720px) {
   .container {
      padding: 0 2.5rem;
   }
}

/* region large */
@media (min-width: 1100px) {
    .container {
      padding: 0 3.75rem;
   }
}
/* end of: Margins wrapper */


/* Interactive elements */

   /* region small */
.button-primary {
   display: block;
   padding: 15px 25px;
   background-color: var(--color-black);
   color: var(--color-white);
   width: 100%;
   text-align: center;
   transition: all 0.3s ease;
}

.button-primary:hover {
   transform: scale(1.03);
}

   /* region medium/large */
@media (min-width: 720px) {
   .button-primary {
      width: 280px;
      margin: 0 auto;
   }
}

/* social icons hover */
.social-icons img {
   transition: all 0.3s ease;
}

.social-icons img:hover {
   transform: scale(1.1);
}


/* logo hover */
nav .logo {
   transition: all 0.5s ease;
}

nav .logo:hover {
   opacity: 0.3;
}

.logo-region-m-l img {
   transition: all 0.5s ease;
}

.logo-region-m-l img:hover {
   opacity: 0.3;
}

/* Current link (nav) */
nav .current {
   font-weight: 600;
}

/* Footer category hover */
footer h4:hover {
   border-width: 2px;
}

/* Strike (nav) */
.strike {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 120%;
	height: 8px;
	margin-top: 0.4rem;
   margin-left: -10%;
   background-color: var(--color-blue-sky);
   mix-blend-mode: multiply;
	transform-origin: left;
   transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike:hover:before {
	transform: scaleX(1);
	transform-origin: left;
}

/* Strike-small */
.strike-small {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-small:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 100%;
	height: 8px;
	margin-top: 0.7rem;
   background-color: var(--color-blue-sky);
   mix-blend-mode: multiply;
	transform-origin: left;
   transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-small:hover:before {
	transform: scaleX(1);
	transform-origin: left;
}

/* Strike-big */
.strike-big {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-big:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 3rem;
   /* margin-left: -2%; */
   background-color: var(--color-black);
   mix-blend-mode: multiply;
	transform-origin: left;
   transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-big:hover:before {
	transform: scaleX(1);
	transform-origin: left;
}

/* strike CV */
.hero-contact .strike:before {
   margin-top: 0.8rem;
}
/* end of: Interactive elements */































/* page-holder */
