---
---

{% include head.html %}

<body>


{% include sticky-header.html %}
{% include app-header.html %}


<!-- Hero-section-case -->

   <section class="hero-section-case">
         <div class="container container-flex">

            <div class="container-flex hero-content">

               <div class="hero-title">
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
                  <h1 class="h1">Elkmont<br>Exchange</h1>
                  <img src="../resources/images/icon-carrot.svg" alt="arrow">
               </div>

               <div class="hero-text">
                  <p class="body-big">
                     Knoxville Tennessee had been left behind in the craft beer boom. One talented brewer was determined to change this. Elkmont Exchange was born; delivering the finest beers, matched with fantastic food and a healthy dose of local pride. We worked with Elkmont to build a brand that was proud of it’s roots and drew inspiration from the Elkmont trail-head (Smoky Mountains) that inspired the name.
                  </p>

                  <div class="my-role">
                     <span class="h4 bold">Brand Identity</span>
                     <span class="h4 bold">Strategy</span>
                     <span class="h4 bold">Consultation</span>
                  </div>
               </div>

            </div>

         </div>
   </section>


<!-- Elkmont-case -->

   <section class="case">
      <div class="container">

         <!-- Hero image and copy -->
         <div class="case-image hero">
            <img src="../resources/images/elk-image-hero@1x.jpg"
                  srcset="../resources/images/elk-image-hero@2x.jpg 2640w,
                         ../resources/images/elk-image-hero@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Elkmont sign"/>
         </div>

         <div class="case-text">
            <h2 class="h2">Inspired by the land</h2>
            <p class="body no-space">The Brand identity was directly inspired by the Elkmont trailhead in the smokey mountains. The word mark is derived from the chisseled typography of the trail markers themselves. The supporting mark is a constant reminder to push further — to see whats over the next hill or in the next valley.
            </p>
         </div>
         <hr>

         <div class="brand-assets container-flex elk-assets">
            <div class="elk-mark container-flex">
               <h4 class="h4 bold">Primary mark</h4>
               <img src="../resources/images/elk-image-logo.svg" alt="Elkmont logo">
            </div>
            <div class="elk-mark container-flex">
               <h4 class="h4 bold">supporting mark</h4>
               <div class="arrow">
                  <img class="" src="../resources/images/elk-image-arrow.svg" alt="Elkmont arrow">
               </div>
            </div>
         </div>
         <hr>

         <div class="case-text">
            <h2 class="h2">A comprehensive plan of attack</h2>
            <p class="body no-space">We delivered extensive brand guidelines documenting the strategic positioning, the story and the use of assets. The document was to help secure over &#36;1 million USD in investment as well as become a springboard for the many creative partners that made Elkmont Exchange happen.
            </p>
         </div>
         <div class="case-image">
            <img class="guideline-img" src="../resources/images/elk-image-guidelines@1x.jpg"
                  srcset="../resources/images/elk-image-guidelines@2x.jpg 2640w,
                         ../resources/images/elk-image-guidelines@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="Brand guidelines"/>
         </div>

         <div class="case-text">
            <h2 class="h2">A brand brought to life</h2>
            <p class="body no-space">We had the pleasure of working directly with <a href="https://www.mhminc.com/ "target="_blank" class ="text-link">MHM Architects</a>. Using our brand assets, and taking material inspiration from the land they brought our brand to life and added another dimension to the Elkmont experience.
            </p>
         </div>


         <div class="image-block">

            <div class="image-row container-flex">
               <img class="grow-bitch" src="../resources/images/elk-image-block-2@1x.jpg"
                     srcset="../resources/images/elk-image-block-2@2x.jpg 1394w,
                            ../resources/images/elk-image-block-2@1x.jpg 697w"
                     sizes="(min-width: 697px) 697px, 100vw"
                     alt="restaurant signage"/>
               <img  src="../resources/images/elk-image-block-1@1x.jpg"
                     srcset="../resources/images/elk-image-block-1@2x.jpg 994w,
                            ../resources/images/elk-image-block-1@1x.jpg 498w"
                     sizes="(min-width: 498px) 498px, 100vw"
                     alt="bar entrance"/>
            </div>

            <div class="image-row container-flex">
               <img class="collapse" src="../resources/images/elk-image-block-3@1x.jpg"
                     srcset="../resources/images/elk-image-block-3@2x.jpg 906w,
                            ../resources/images/elk-image-block-3@1x.jpg 453w"
                     sizes="(min-width: 453px) 453px, 100vw"
                     alt="Elkmont sign at night"/>
               <img src="../resources/images/elk-image-block-4@1x.jpg"
                     srcset="../resources/images/elk-image-block-4@2x.jpg 594w,
                     ../resources/images/elk-image-block-4@1x.jpg 296w"
                     sizes="(min-width: 296px) 296px, 100vw"
                     alt="fire pit"/>
               <img src="../resources/images/elk-image-block-5@1x.jpg"
                     srcset="../resources/images/elk-image-block-5@2x.jpg 854w,
                     ../resources/images/elk-image-block-5@1x.jpg 428w"
                     sizes="(min-width: 428px) 428px, 100vw"
                     alt="facade at night"/>
            </div>

            <div class="image-row container-flex">
               <img src="../resources/images/elk-image-block-6@1x.jpg"
                     srcset="../resources/images/elk-image-block-6@2x.jpg 2420w,
                            ../resources/images/elk-image-block-6@1x.jpg 1210w"
                     sizes="(min-width: 1210px) 1210px, 100vw"
                     alt="bar interior"/>
            </div>

            <div class="image-row container-flex">
               <img src="../resources/images/elk-image-block-7@1x.jpg"
                     srcset="../resources/images/elk-image-block-7@2x.jpg 1200w,
                            ../resources/images/elk-image-block-7@1x.jpg 600w"
                     sizes="(min-width: 600px) 600px, 100vw"
                     alt="bar interior"/>
               <img class="collapse" src="../resources/images/elk-image-block-8@1x.jpg"
                     srcset="../resources/images/elk-image-block-8@2x.jpg 1188w,
                            ../resources/images/elk-image-block-8@1x.jpg 594w"
                     sizes="(min-width: 594px) 594px, 100vw"
                     alt="bar interior"/>
            </div>

         </div>
      </div>
   </section>


<!-- Its in the details -->
   <section class="case details">
      <div class="container">

         <div class="case-text">
            <h2 class="h2">Food & Beer</h2>
            <p class="body">I created the these touchpoints to bring the brand to life in the customers hands.
            </p>
         </div>

         <div class="case-image">
            <img src="../resources/images/elk-image-menu@1x.jpg"
                  srcset="../resources/images/elk-image-menu@2x.jpg 2640w,
                         ../resources/images/elk-image-menu@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="menu design"/>
         </div>
         <div class="case-image">
            <img src="../resources/images/elk-image-coasters@1x.jpg"
                  srcset="../resources/images/elk-image-coasters@2x.jpg 2640w,
                         ../resources/images/elk-image-coasters@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="beer coasters design"/>
         </div>
         <div class="case-image">
            <img src="../resources/images/elk-image-beer@1x.jpg"
                  srcset="../resources/images/elk-image-beer@2x.jpg 2640w,
                         ../resources/images/elk-image-beer@1x.jpg 1320w"
                  sizes="(min-width: 1320px) 1320px, 100vw"
                  alt="beer bottle design"/>
         </div>

         <!-- Call to action block -->
         <div class="cta-block">
            <h3 class="h3 centered">Like what you see?</h3>
            <a href="../contact/contact.html">
            <span class="button-primary h4 bold">get in touch</span>
            </a>
         </div>

      </div>
   </section>

<!-- end of: Elkmont-case -->


{% include footer.html %}
{% include page-end.html %}


</body>
</html>
